---
layout: default
---

<ul class="post-list">

    {% for post in site.posts %}
    <li>
        {% unless post.next %}<h2>{{ post.date | date: '%Y' }}</h2>
        {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}<h2>{{ post.date | date: '%Y' }}</h2>
        {% endif %}
        {% endunless %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <span class="post-tag">&lt;{{ post.categores }}&gt;</span>
            <span class='post-date'>{{ post.date | date: "%m月%d日"}}</span>
        </p>
    </li>
    {% endfor %}

</ul>
