/*
 *@time : 2013-08-19
 *describe : style of page
 *@author : zhoonchen
 */

 .blog-main{width:100%;overflow:hidden;}
 .blog-content{margin:0 0 0 25%;padding:50px 100px;}
 .blog-sidebar{width:25%;position:fixed;top:0px;bottom:0px;left:0px;background-color:#f6f6f6;}
 .blog-comment{margin:0 0 0 25%;padding:0 100px 50px 100px;}
 .blog-footer{margin:0 0 0 25%;text-align:center;padding:30px 0;}
 .blog-face{width:120px;height:120px;overflow:hidden;border-radius:60px;margin:30px auto 20px;}
 .blog-face a{width:120px;height:120px;display:block;background:url(/img/face.png) no-repeat;text-indent:-9999px;}
 .blog-name{font-size:24px;text-align:center;padding:0 0 30px 0;}
 .blog-face-line{width:0px;overflow:hidden;position:absolute;left:50%;height:30px;border-left:1px solid #999;}
 .blog-info{font-family:"lucida Grande",Verdana;font-size:16px;margin:0px 35px 0px 35px;padding:30px 0 30px;border-top:1px dotted #ccc;color:#999;line-height:1.8;}
 .blog-items{margin:0px 35px 0 35px;padding: 0 0 30px;}
 .blog-items ul{padding: 0px;}
 .blog-items ul li{padding:2px 0;}
 .blog-post{color:#000;line-height:1.8;font-size:16px;}
 .blog-post h1{}
 .blog-post h2{margin:20px 0 10px;}
 .blog-post p{text-align:justify;margin:15px 0;}
 .blog-post ul{padding:5px 0;}
 .blog-post ul li{list-style:disc inside none;color:rgba(0,0,0,0.4);margin-left:30px;}
 .blog-post .date{margin:0;color:#999;}

 .post-list{padding:0 20px;}
 .post-list li{margin-bottom:18px;}
 .post-list .post-date{color:#ccc;}
 .post-list .post-tag{color:#999;margin:0 0 0 3px;}
