<div class="blog-sidebar">
	<!--<div class="blog-face-line"></div>-->
	<div class="blog-face">
		<a href="/">ZhoonChen</a>
	</div>
	<h3 class="blog-name">ZhoonChen</h3>
	<div class="blog-info">zhoon(粽)，前端设计师，现就职于腾讯广州研发部。目前主要负责UI重构组相关网页重构工作以及APP开发的工作...</div>
	<div class="blog-items">
		<ul>
			<li><a href="/">博客首页</a></li>
			<li><a href="javascript:;">文章分类</a></li>
			<li><a href="/articalCollect.html">文章收集</a></li>
			<li><a href="/friend.html">友情链接</a></li>
			<li><a href="/about.html">关于我</a></li>
		</ul>
	</div>
</div>
