<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keyword" content="zhoon,zhoonchen,blog,front-end,iOS,life">
		<meta name="description" content="a blog of zhoonchen to share infomation of front-end, iOS and life.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/style/base.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/style/page.css" media="screen">
	</head>
	<body>
		<!-- blog maim -->
		<div class="blog-main">
		
			<!-- blog content-->
			{% include topbar.html %}

            {% if page.url == "/message.html" %}
			<!-- blog comments -->
			<div class="blog-comment">
				<div id="disqus_thread"></div>
			 	<script type="text/javascript">
			     	 var disqus_shortname = 'zhoonchen'; // required: replace example with your forum shortname
			      	 (function() {
			         	 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			          	 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			          	 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			      	 })();
		    	</script>
			</div>
            {% endif %}

			<!-- blog sidebar -->
				{% include sidebar.html %}

			<!-- blog footer -->
				{% include footer.html %}
		</div>
			
	</body>
</html>
